# Compiled JavaScript files
lib/
*.js
*.js.map

# TypeScript cache
*.tsbuildinfo

# Node modules
node_modules/

# Firebase cache
.firebase/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
